<form [formGroup]="noteForm" (ngSubmit)="saveNote()" class="" *ngIf="showForm">
  <div class="d-flex flex-column w-50 gap-1">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="form-control"
      />
      <div
        *ngIf="
          noteForm.get('title')?.hasError('required') &&
          noteForm.get('title')?.touched
        "
        class="text-danger"
      >
        Title is required.
      </div>
    </div>

    <label>Body:</label>
    <textarea formControlName="body"></textarea>

    <label>
      <input type="checkbox" formControlName="favorite" /> Favorite
    </label>

    <label>Color:</label>
    <input type="color" formControlName="color" />
  </div>

  <div class="mt-2">
    <button type="submit">Save</button>
  </div>
</form>

<div>
  Please select note or
  <a (click)="createNewNote()" class="note-new">click here to create new one</a>
</div>
