<div class="container d-flex mt-4">
  <div class="left-panel">
    <app-note-list></app-note-list>
  </div>

  <div class="right-panel d-flex flex-column gap-4">
    <mat-slide-toggle [(ngModel)]="reactiveForms">
      Show Reactive Form
    </mat-slide-toggle>
    <div class="right-panel-top" *ngIf="reactiveForms">
      <p>Reactive form</p>
      <app-note-form></app-note-form>
    </div>

    <div class="right-panel-bottom">
      <p>Non Reactive Form</p>
      <app-non-reactive-note-form></app-non-reactive-note-form>
    </div>
  </div>
</div>
